<main>
  <div>
    <h2 class="tittle">Buscador Cocktails</h2>
    <form class="form">
      <input type="text" class="input input js-input" />
      <button type="button" class="btnSearch js-btnSearch">Buscar</button>
      <button type="button" class="btnReset js-btnReset">Reset</button>
    </form>
    <div class="Drinks">
      <section class="Favorites">
        <h2 class="TittleDrinks">Bebidas favoritas</h2>
        <ul class="FavDrinks js-favoriteDrinks"></ul>
      </section>
      <section class="AllDrinks">
        <h2 class="TittleAllDrinks">Todas las bebidas</h2>
        <ul class="AllDrinks js-totalDrinks"></ul>
      </section>
    </div>
  </div>
</main>
